<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BioUno | Continuous Integration tools and techniques applied to Bioinformatics</title>
    <meta name="description" content="Continuous Integration tools and techniques applied to Bioinformatics">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/biouno.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Alegreya:900,400' rel='stylesheet' type='text/css'>
</head>

<body class="home">
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>BioUno</h1>
                    <h2 class=''>Continuous Integration tools and techniques applied in Bioinformatics</h2>
                </div>
            </div>
        </div>
    </header>
    <section id="main">
        <div class='container'>
            <div class='row'>
                <div id='menu' class="span3">
                    <ul class="">
                        <li class="title">Principal</li>
                        <li><a href='http://www.biouno.org/'>Home</a></li>
                        <li><a href='http://www.biouno.org/jenkins-plugins'>Jenkins Plug-ins</a></li>
                        <li><a href='http://www.biouno.org/update-site'>Jenkins Update site</a></li>
                        <li class='divider'></li>
                        <li class="title">Documentation</li>
                        <li><a href='http://www.biouno.org/getting-started'>Getting started with Jenkins</a></li>
                        <li><a href='http://www.biouno.org/scheduling-your-first-job'>Scheduling your first job</a></li>
                        <li><a href='http://www.biouno.org/configuring-job-notification'>Configuring job notification</a></li>
                        <li><a href='http://www.biouno.org/reproducing-an-existing-pipeline'>Reproducing an existing pipeline</a></li>
                        <li class='divider'></li>
                        <li class="title">Tools</li>
                        <li><a href='http://www.biouno.org/running-mrbayes-in-biouno'>Running MrBayes with Jenkins</a></li>
                        <li><a href='http://www.biouno.org/running-structure-in-biouno'>Running Structure in parallel with Jenkins</a></li>
                        <li><a href='http://www.biouno.org/creating-a-pipeline-using-MrBayes and-FigTree'>Creating a pipeline using MrBayes and FigTree</a></li>
                        <li class='divider'></li>
                        <li><a href='http://www.biouno.org/creating-a-pipeline-using-MrBayes and-FigTree'>Using Jenkins R Plug-in</a></li>
                        <li><a href='http://www.biouno.org/creating-a-pipeline-using-MrBayes and-FigTree'>Creating graphs with R and creating image galleries</a></li>
                        <li class='divider'></li>
                        <li class="title">Project Information</li>
                        <li><a href='http://www.biouno.org/motivation'>Citing BioUno</a></li>
                        <li><a href='http://www.biouno.org/team'>Team</a></li>
                        <li><a href='http://www.biouno.org/sponsors'>Sponsors</a></li>
                        <li><a href='http://www.biouno.org/license'>License</a></li>
                        <li class='divider'></li>
                        <li><a href='http://www.biouno.org/contact'>Contact</a></li>
                    </ul>
                </div>
                <div id="content" class="span9">
                    <p>BioUno is a project that applies Continuous Integration tools and techniques in Bioinformatics. 
                        It uses tools like Jenkins for creating biology workflows and to manage computer 
                        clusters. </p>
                    <p>Jenkins plug-in API is used for creating wrappers for tools
                        like MrBayes, Structure, R and scripts and programs written in many different programming 
                        languages, like Perl, PHP, Ruby and Java. And it uses Jenkins slaves 
                        as general-purpose computing grid.</p>
                    <div class='center'>
                        <iframe width="660" height="360" src="http://www.youtube.com/embed/6Dl6V249W30" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <p>Jenkins can also be used to glue scripts and programs in your existing pipeline in Galaxy, 
                        Taverna, Mobyle or CloudGene. Read more about how to use Jenkins to orchestrate existing 
                        biology pipelines.</p>
                </div>
            </div>
        </div>
    </section>
    <hr/>
    <footer>
        <div class="container">
            <div class="row">
                <div class="span12 right">
                    <p><a href="http://www.tupilabs.com" title="TupiLabs"><small>TupiLabs &copy; 2011-2012 </small><img src="img/tupilabs_badget-32x32.png" width="24px" title="TupiLabs" /></a></p>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="js/biouno.js"></script>
</body>
</html>